{{define "title"}}Login page{{end}}

{{define "main"}}
<article class="login-container">
    <div class="login-form-container">
        <form action="/login" class="login-form">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" required>
            <label for="password">Senha</label>
            <input type="text" id="password" name="password" autocomplete="off" required>
            <button type="submit">Entrar</button>
        </form>
    </div>
</article>
{{end}}