{{define "title"}} Peças {{end}}

{{define "main"}}
<article>
   {{if .}}
   <table class="parts-table">
      <thead>
         <th>ID Cliente</th>
         <th>Data</th>
         <th>Serviços</th>
         <th>Peças</th>
         <th>Comentário</th>
         <th>Total (R$)</th>
      </thead>
      <tbody>
         {{range .}}
         <tr>
            <td>{{.ClientId}}</a></td>
            <td>{{.CreatedAt}}</a></td>
            <td>{{range .Services}}
                <p>{{.}}</p>
                {{end}}
            </td>
            <td>{{range .PartsRefs}}
                <span><a href="/part/view/{{.}}">{{.}}</a></span>
                {{end}}
            </td>
            <td>{{.Comment}}</td>
            <td>{{.Total}}</td>
         </tr>
         {{end}}
      </tbody>
   </table>
   {{else}}
   <div>
      This is the homepage of the website
   </div>
   {{end}}
</article>
{{end}}