{{define "title"}} Peças {{end}}

{{define "main"}}
<article>
   {{if .}}
   <table class="orders-table">
      <thead>
         <th>ID Cliente</th>
         <th>Data</th>
         <th>Serviços</th>
         <th>Peças</th>
         <th>Comentário</th>
         <th>Total (R$)</th>
      </thead>
      <tbody>
         {{range .Orders}}
         <tr>
            <td>{{.ClientId}}</td>
            <td>{{.CreatedAt.Format timeFormatting}}</td>
            <td>{{range .Services}}
                <p>{{.}}</p>
                {{end}}
            </td>
            <td>{{range .PartsRefs}}
                <span><a href="/part/view/{{.}}">{{.}}</a></span>
                {{end}}
            </td>
            <td>{{.Comment}}</td>
            <td>{{.Total}}</td>
         </tr>
         {{end}}
      </tbody>
   </table>
   <div class="pagination">
      {{range $i := (seq 1 .TotalPages)}}
      <a>{{$i}}</a>
      {{end}}
   </div>
   {{else}}
   <div>
      No orders to display
   </div>
   {{end}}
</article>
{{end}}