{{define "nav"}}
<nav class="navbar">
    <ul class="navbar-opts">
        <form action="/orders/" method="post"></form>
        <label for="order-search">Buscar nota</label>
        <input type="text" id="order-search" name="order-search">
        <li class="navbar-opt"><a href="/">Home</a></li>
        <li class="navbar-opt"><a href="/order/create">Registrar nova nota</a></li>
        <li class="navbar-opt"><a href="/parts">Peças</a></li>
        <li class="navbar-opt"><a href="/part/create">Registrar nova peça</a></li>
    </ul>
</nav>
{{end}}