{{define "nav"}}
<nav class="navbar">
    <ul class="navbar-opts">
        <li class="navbar-opt home-btn"><a href="/">Home</a></li>
        <form class="order-search-form" action="/orders/search" method="GET">
            <label for="clientid">Buscar nota</label>
            <input type="text" id="clientid" name="clientid">
            <div class="button-center">
                <button type="submit">buscar</button>
            </div>
        </form>
        <li class="navbar-opt"><a href="/order/create">Registrar nova nota</a></li>
        <li class="navbar-opt"><a href="/parts">Peças</a></li>
        <li class="navbar-opt"><a href="/part/create">Registrar nova peça</a></li>
        <li class="navbar-opt"><a href="/login">Entrar</a></li>
    </ul>
</nav>
{{end}}