html {
    height: 100%;
}

body {
    font-family:'Roboto', Helvetica, sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 1em;
}

h1 {
    color:rgb(3, 6, 98);
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-self: stretch;
}

.navbar-opts {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 0 40px;
}

.navbar-opt {
    list-style-type: none;
}

/* main table section */

.parts-table {
    align-self: center;
    border: 1px solid gray;
    border-radius: 0.2em;
    padding: 0.2em;
}

.parts-table > tbody > tr:nth-child(odd) {
    background-color:rgb(167, 208, 244);
}

.parts-table > tbody td {
    padding: 0 1em;
    text-align: center;
}

/* single part page */
.part-attr {
    list-style-type: none;
}

.part-attr > span {
    font-weight: bold;
}

/* footer section */

footer {
    margin-top: auto
}