html {
    height: 100%;
}

body {
    font-family:'Roboto', Helvetica, sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 1em;
}

h1 {
    color:rgb(3, 6, 98);
}

a {
    text-decoration: none;
    color: inherit;
}

.centralized-container{
    margin: auto 0;
}

/* navbar */

.navbar {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    font-size: 1.2em;
}

.navbar-opts {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    gap: 1em;
    padding: 0 40px;
}

.navbar-opt {
    list-style-type: none;
}

.navbar-btn {
    margin-right: auto;
}

.order-search-form {
    margin: 0 auto;
    display: flex;
    gap: 0.5em;
    font-size: 1rem;
}

.order-search-form > * {
    font-size: 1rem;
}

/* parts table section */

.parts-table {
    align-self: center;
    border: 1px solid gray;
    border-radius: 0.2em;
    padding: 0.2em;
    font-size: 1.2em;
}

.parts-table > tbody > tr:nth-child(odd) {
    background-color:rgb(167, 208, 244);
}

.parts-table > tbody td {
    padding: 0 1em;
    text-align: center;
}

/* orders table section */

.orders-main-content {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.orders-table {
    align-self: center;
    border: 1px solid gray;
    border-radius: 0.2em;
    padding: 0.2em;
    font-size: 1.2em;
}

.orders-table > tbody > tr:nth-child(odd) {
    background-color:rgb(167, 208, 244);
}

.orders-table > tbody td {
    padding: 0 1em;
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: end;
    gap: 0.5em;
}

.pagination-item a {
    text-decoration: none;
}

.pagination-item .active-item {
    color: blue;
    font-weight: bold;
}

.pagination-item {
    padding: 0.2em 0.5em;
    border: 1px solid gray;
    border-radius: 0.2em;
}

/* single part page */
.part-attr {
    list-style-type: none;
    font-size: 1.5em;
}

.part-attr > span {
    font-weight: bold;
}

/* footer section */

footer {
    margin-top: auto
}

/* login form */

.login-form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    font-size: 2em;
}

.login-form > * {
    font-size: 1em;
}

/* creation form */

.create-form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    font-size: 1.5em;
}

.create-form > * {
    font-size: 1em;
}

.button-center {
    align-self: center;
    font-size: 1em;
}

.button-center > button {
    font-size: 1em;
}
