html {
    height: 100%;
}

body {
    font-family:'Roboto', Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 1em;
}

h1 {
    color: red;
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar {
    display: flex;
    flex-direction: row;
}

.navbar-opts {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 0 40px;
}

.navbar-opt {
    list-style-type: none;
}